/*  your css code here. If applicable */
.p{
	background-color:black;
	color:white;
	
}
:root{

	background-color:skyblue;
}

li:first-child{
	background-color:white;
}

li:last-child{
	
	background-color:white;
}

li:nth-child(even){

	background-color:gray;
	
}

